.images-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
@media (max-width: 750px) {
          .images-container {
               grid-template-columns: 1fr 1fr;
          }
     }
     @media (min-width: 751px) and (max-width:999px){
          .images-container {
               grid-template-columns: 1fr 1fr 1fr;
          }
     }
     @media (min-width:1000px) {
          .images-container{
               grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
          }
        }     
.toggle-container,
.cart-container,
.title-container,
.price-container,
.reset-container,
.cartb-container{
  display: inline-block;
}
.toggle-container {
  margin-top: 15px;
}
.cart-container {
  margin-left: 500px;
  background:  rgba(0, 0, 0, 0);;
  padding: 10px 15px;
  border-radius: 10px;
  width: 80px;
  text-align: center;
  font-size: 18px;
  color: rgb(213, 176, 106);
  margin-top: 10px;
}

/*.price-container {
  margin-left: 800px;
      background:  rgba(0, 0, 0, 0);;
      padding: 10px 15px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      width: 80px;
      text-align: center;
      font-size: 18px;
}
/*.reset-container {
  margin-left: 1400px;
  margin-top: 20px;
}*/
.cartb-container {
  margin-left: 27px;
  margin-top: 10px;
}
.header-container {
  position: fixed;
  z-index: 1000;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  height: 60px;
  display: flex;
}