.Mint ,
.red-velvet,
.fruit-cake,
.lemon-cake,
.muffins,
.pics {
  width: 210px;
  height: 150px;
  border-radius: 8px;
}
.mint-div ,
.red-velvet-div,
.fruit-cake-div,
.lemon-cake-div,
.muffins-div,
.cakes-div {
  margin-left: 30px;
  margin-top: 10px;
  z-index: 1;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  text-align: center;
}
